body{
    text-align: center;
    /* background-image: url("High_resolution_wallpaper_background_ID_77700294077.jpg"); */
    /* background-image: url("25nOUq.jpg"); */

    background-color: antiquewhite;
    background-repeat: no-repeat;
  background-size: 1500px 750px;

}
.logo{
    
}

.container{
    width: 1452px;
    height: 450px;
    padding: 33px;
    border: 3px solid black;
    border-radius: 9px;
    /* background-color: #CCFFE5; */
    /* background-image: url("pngtree-emoji-of-social-media-or-chat-application-network-emoticon-background-image_985694.jpg"); */
    /* background-image: url("25nOUq.jpg"); */
    border-image: fill;
    background-repeat: no-repeat;
    background-size: 900px 500px;
    margin: auto;
    overflow-y: scroll;
    background-color: cadetblue;

}
.message{
/* //background-color: #3399FF; */
width: 24%;
padding:10px ;
margin: 17px 12px;
border: 2px solid black;
border-radius: 10px;
}
.left{

    background-color: #3399FF;
float: left;
clear: both;
border-radius: 60px;
}
.right{

background-color: white;
float: right;
clear: both;
border-radius: 60px;
}

.send{
    /* position: relative; */
    /* top: 500px; */
    width: 1520px;
    height: 50px;
    background-color: #3399FF;
    border-bottom-left-radius: 20px;
    /* display: flex; */
    flex-direction: row;
    margin: auto;
}


#send-container{
    /* display: block;
    margin:auto;
    text-align: center;
    max-width: 880px; */

}

#messageInp{


}


.btn{
    cursor: pointer;
    
}
@media screen and (max-width: 100px){
    .container {
        
         }
}


